@page "/user-profile/{UserId:int}"

@using AgroTemp.WebApp.Components.Objects.UserProfiles
@using AgroTemp.WebApp.Enums

<div class="row">
	<div class="col-md-8">
		<div class="card">
			<div class="card-header">
				<div class="row row-nav-line">
					<ul class="nav nav-tabs nav-line nav-color-secondary w-100 ps-4" role="tablist">
						<li class="nav-item" role="presentation"> <a class="nav-link active" href="" data-bs-toggle="tab" role="tab" aria-selected="true" @onclick="SelectProfileCard">Profil</a> </li>
						<li class="nav-item" role="presentation"> <a class="nav-link" href="" data-bs-toggle="tab" role="tab" aria-selected="false" tabindex="-1" @onclick=SelectLoginDataCard>Dane logowania</a> </li>
					</ul>
				</div>
			</div>
			<div class="card-body">
				@switch (ProfileCard)
				{
					case UserProfileCards.UserProfile:
						<ProfileDataCard  UserId="UserId" OnUserProfileUpdated="UpdateUserProfile" />
						break;
					case UserProfileCards.LoginData:
						<LoginDataCard UserId="UserId" />
						break;
                }
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card card-profile">
			<div class="card-header" style="background-image: url('assets/img/AgroTemp/background_agrotemp.jpg'); background-size:cover">
				<div class="profile-picture">
					<div class="avatar avatar-xl">
						<img src="assets/img/AgroTemp/user.png" alt="..." class="avatar-img rounded-circle">
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="user-profile text-center">
					<div class="name">@_user.FirstName @_user.LastName</div>
					<div class="job">@_user.TypeOfUser</div>
					<div class="desc">A man who hates loneliness</div>
				</div>
			</div>
		</div>
	</div>
</div>

