@page "/ActiveAlarms"

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                @if(_alarms.Count() == 0)
                {
                    <p>Brak aktywnych alarmów.</p>
                }
                else
                {
                    <div class="table-responsive">
                        <div id="basic-datatables_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="dataTables_length" id="basic-datatables_length">
                                        <label>
                                            Pokaż
                                            <select name="basic-datatables_length" aria-controls="basic-datatables" class="form-control form-control-sm">
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                            wierszy
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">   
                                <div class="col-sm-12">                            
                                    <table id="basic-datatables" class="display table table-striped table-hover dataTable" role="grid" aria-describedby="basic-datatables_info">
                                        <thead>
                                            <tr>
                                                <th>Opis alarmu</th>
                                                <th>Data wystąpienia</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var alarm in _alarms)
                                            {
                                                <tr>
                                                    <td>@alarm.DescriptionToDisplay</td>
                                                    <td>@alarm.CreatedAtToDisplay</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                }                
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
      $("#basic-datatables").DataTable({});      
    });
</script>
     