@page "/ActiveAlarms"

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                @if(_alarms.Count() == 0)
                {
                    <p>Brak aktywnych alarmów.</p>
                }
                else
                {
                    <div class="table-responsive">
                        <table id="activeAlarms-datatable" class="display table table-striped table-hover dataTable" role="grid" aria-describedby="basic-datatables_info">
                            <thead>
                                <tr>
                                    <th>Opis alarmu</th>
                                    <th>Data wystąpienia</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var alarm in _alarms)
                                {
                                    <tr>
                                        <td>@alarm.DescriptionToDisplay</td>
                                        <td>@alarm.CreatedAtToDisplay</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }                
            </div>
        </div>
    </div>
</div>

<script>
    window.ApplyActiveAlarmsDatatable = () => {
                $("#activeAlarms-datatable").DataTable(
            {
                searching: false,
                language: {
                    emptyTable: "Brak danych",
                    info: "Wyświetlanie od _START_ do _END_ z _TOTAL_ rekordów",
                    infoEmpty: "Wyświetlanie od 0 do 0 z 0 rekordów",
                    infoFiltered: "(filtrowanie z _MAX_ rekordów)",
                    lengthMenu: "Pokaż _MENU_ rekordów",
                    search: "Szukaj:",
                    zeroRecords: "Brak pasujących rekordów",
                    paginate: {
                    first:      "Pierwszy",
                    previous:   "Poprzedni",
                    next:       "Następny",
                    last:       "Ostatni"
                    },
                }
            });
    }
</script>
     