@page "/HistoryAlarms"


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Zakres czasu</h4>
            </div>
            <div class="card-body">               
                <EditForm Model="@Model" OnValidSubmit="FilterAlarmsAsync">
                    <DataAnnotationsValidator />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Data początkowa:</label>
                                <div class="input-group">
                                    <InputDate @bind-Value="Model.StartAt" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Data końcowa:</label>
                                <InputDate @bind-Value="Model.EndAt" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <center>
                                    <b><ValidationMessage For="() => Model.StartAt" /></b>
                                </center>
                            </div>
                            <div class="col-md-4">
                                <center>
                                    <b><ValidationMessage For="() => Model.EndAt" /></b>
                                </center>
                            </div>
                        </div>
                        <div class="col-md-4 align-content-end">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Szukaj</button>
                            </div>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>
@if (_alarms.Count() == 0)
{
    <div class="row">
        <div class="col align-content-center">
            <p>Brak alarmów historycznych.</p>
        </div>
    </div> 
}
else
{
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="basic-datatables_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="dataTables_length" id="basic-datatables_length">
                                        <label>
                                            Pokaż
                                            <select name="basic-datatables_length" aria-controls="basic-datatables" class="form-control form-control-sm">
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                            wierszy
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="basic-datatables" class="display table table-striped table-hover dataTable" role="grid" aria-describedby="basic-datatables_info">
                                        <thead>
                                            <tr>
                                                <th>Opis alarmu</th>
                                                <th>Data wystąpienia</th>
                                                <th>Data zakończenia</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var alarm in _alarms)
                                            {
                                                <tr>
                                                    <td>@alarm.DescriptionToDisplay</td>
                                                    <td>@alarm.CreatedAtToDisplay</td>
                                                    <td>@alarm.UpdatedAtToDisplay</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
      $("#basic-datatables").DataTable({});
    });
</script>

