@page "/access-denied"

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3>Access Denied</h3>
            </div>
            <div class="card-body">
                <p>You do not have permission to access this page.</p>
                <p>If you believe this is an error, please contact your administrator.</p>
            </div>
            <div class="card-footer">
                <a href="/login" class="btn btn-primary">Go to Login</a>
            </div>
        </div>
    </div>
</div>
