@page "/login"

@using AgroTemp.WebApp.Components.Layout

@layout EmptyLayout

<style>
	.login {
		background-image: url('assets/img/AgroTemp/background_agrotemp.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
</style>

<div class="login">
	<div class="wrapper wrapper-login">
		<div class="container container-login" style="border: 2px solid gray; border-radius: 20px">
			<div class="logo text-center">
				<img src="assets/img/AgroTemp/AgroTemp_logo.png" height="100" />
			</div>
			<EditForm Model="@Model" OnValidSubmit="AuthenticateAsync" FormName="LoginForm">
				<DataAnnotationsValidator />
				<div class="form-sub">
					<div class="form-floating form-floating-custom mb-3">
						<InputText type="text" class="form-control" placeholder="username" @bind-Value="@Model.Login" />
						<ValidationMessage For="() => Model.Login" />
						<label for="username">Nazwa użytkownika</label>
					</div>
					<div class="form-floating form-floating-custom mb-3">
						<InputText type="password" class="form-control" placeholder="password" @bind-Value="@Model.Password" />
						<ValidationMessage For="() => Model.Password" />
						<label for="password">Hasło</label>
					</div>
					<div class="row m-0">
						<div class="d-flex form-sub">
							<a href="#" class="link float-end">Zapomniałeś hasło?</a>
						</div>
					</div>
					<div class="text-center">
						<span class="text-danger"><b>@errorMessage</b></span>
					</div>
					<div class="mt-3">
						<button type="submit" class="btn btn-primary w-100 btn-login">
							<span class="btn-label">
								<i class="fa fa-sign-in-alt"></i>
							</span>
							Zaloguj
						</button>
					</div>
				</div>
			</EditForm>
		</div>
	</div>
</div>



