@inherits LayoutComponentBase

<div class="wrapper">
    <Sidebar @bind-PageTitle="_pageTitle" />
    <div class="main-panel">
        <div class="main-header">
            <div class="main-header-logo">
                <!-- Logo Header -->
                <div class="logo-header" data-background-color="dark">
                    <a href="dashboard" class="logo">
                        <img src="assets/img/AgroTemp/AgroTemp_logo.png"
                             alt="navbar brand"
                             class="navbar-brand"
                             height="75" />
                    </a>
                    <div class="nav-toggle">
                        <button class="btn btn-toggle toggle-sidebar">
                            <i class="gg-menu-right"></i>
                        </button>
                        <button class="btn btn-toggle sidenav-toggler">
                            <i class="gg-menu-left"></i>
                        </button>
                    </div>
                    <button class="topbar-toggler more">
                        <i class="gg-more-vertical-alt"></i>
                    </button>
                </div>
                <!-- End Logo Header -->
            </div>
            <Navbar @bind-PageTitle="_pageTitle" />
        </div>
        <div class="container">
            <div class="page-inner">
                <div class="page-header">
                    <h4 class="page-title">@_pageTitle</h4>
                </div>
                <div class="page-category">
                    @Body
                </div>
            </div>
        </div>
    </div>
</div>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>





