<button class="btn btn-label-info btn-round btn-sm" @onclick=ChangeCardBodyStateAsync>
        <span class="btn-label">
            <i class="@_explainedButtonIcon"></i>
        </span>
    @_explainedButtonText
</button>
